# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
rag/
venv/

# Environment variables
.env

# Logs
*.log

# ChromaDB persistent storage
chroma_db/

transcripts/processed/
transcripts/
page_source.html
page_structure.html
test.py